CompileFlags:
  Add:
    - "-std=c++17"
    - "-I/Users/francis-hung/Documents/Code/Journey-To-CE/competitive-programming/include"
    - "-DLOCALONLY"
    - "-DDEBUG"

Diagnostics:
  Suppress:
    - two_right_angle_brackets_need_space